@import "../../styles/variables.scss";

.contactIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $spacing-5;
}

.contactIconsRow {
  width: 100%;
}

.contactIconsCol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-2;
  padding-top: $spacing-4;
}


